<% include ../partials/header.ejs %>
<link rel="stylesheet" href="/stylesheets/profile.css">


  <div class="row row-profile-page">
    <div class="col-sm-4 col-md-4" id='panel-user-profile'>
        <div class='panel panel-info panel-profile'>
              <div class="panel-heading"><h2>User Profile</h2></div>
              
    
              <br />
              <label>Username:</label>
              <p><%= user.username %></p>
              <label>Email:</label>
              <p><%= user.email %></p>
              <label>Mobile:</label>
              <p><%= user.address.mobile %></p>
        
              <% if (user.address.city === "" || typeof user.address.city === 'undefined')  { %>
                <p>Address: <span style="color: #c0392b; font-weight: bold">You haven't updated your address.</span></p>
        
              <% } else { %>
              <label>Address:</label>
              <p>Room No: <%= user.address.room_no %></p>
              <p>Floor: <%= user.address.floor %></p>
              <p>Building: <%= user.address.building_no %></p>
              <p>Street: <%= user.address.street %>, <%= user.address.ward %>, <%= user.address.township %></p>
              <p>City: <%= user.address.city %></p>
        
              <% } %>
        
              <a href="/edit-profile" class="btn" id='update-address-btn'>Update User Detail</a>
        </div> <!--End of Well-->
      
    </div>

    <div class="col-sm-8 col-md-8" id='panel-order-history'>
      <div class='panel panel-info panel-history'>
          
          <div class="panel-heading"><h2>Order History</h2></div>
          <table class="table table-striped sticky-header">
            <thead>
            <tr>
              <th>Item</th>
              <th>Unit Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
              <th>Payment</th>
              <th>Order Status</th>
            </tr>
            <tbody>
                
                <% order.forEach(function(order) { %>
                    <% if (order.status !== "CART") { %>
                        <% order.line_items.forEach(function(lineItem) { %>              
                            <tr>
                              <td class='product-name-col'><a href='product/<%= lineItem.item.category.name +"/"+ lineItem.item._id %>'><%= lineItem.item.name.en %></a></td>
                              <td>Ks <%= parseFloat(lineItem.item.price).toLocaleString() %></td>
                              <td><%= parseFloat(lineItem.quantity) %></td>
                              <td>Ks <%= parseFloat(lineItem.price).toLocaleString() %></td>
                              <td><%= order.payment_option %></td>
                              <% if (order.status === "CONFIRM") { %>
                                <td>Processing Order</td>  
                              <% } else if(order.status === "SHIPPED") { %>
                                <td>Shipped</td>
                              <% } else if(order.status === 'DELIVERED') { %>
                                <td>Delivered</td>
                              <% } %>
                            </tr>
                        <% }); %>
                    <% } %>
                <% }); %>    
                
                  
            </tbody>
            </thead>
          </table>
      </div><!--End of Well-->
      
      <div class='panel panel-info panel-favourite'>
          <div class="panel-heading"><h2>Favourite Items</h2></div>

          <table class="table table-striped sticky-header">
            <thead>
            <tr>
              <th>Product</th>
              <th>Product Name</th>
              <th>Price</th>
            </tr>
            <tbody>
              <% for(var i = 0; i < user.favourite.length; i++) {%>
                <tr>
                  <td><img class="media-object" src="<%= user.favourite[i].image[0]%>"></td>
                  <td><a href='/product/<%=user.favourite[i].category.name + "/" +  user.favourite[i]._id%>'><%= user.favourite[i].name.en %></a></td>
                  <td>Ks <%= parseFloat(user.favourite[i].price).toLocaleString() %></td>
                  <td>
                    <form action='/remove-wishlist/<%= user.favourite[i]._id %>?_method=DELETE' method='POST'>
                        <input type=hidden name='favourite-item-name' value='<%= user.favourite[i].name %>'>
                        <!--<button class='btn'><span class="glyphicon glyphicon-remove-circle"></span></button>-->
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
            </thead>
          </table>
      </div><!--End of Well-->
      
      
    </div><!--End of Panel-->
  </div>





<% include ../partials/footer.ejs %>