<% include partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/admin.css">


  <div class="row row-profile-page">
    <div class="col-sm-4 col-md-4">
        <div class="list-group">
          
          <a href="/category/add" class="list-group-item">Add New Category</a>
          <a href="/product/add" class="list-group-item">Add New Product</a>
        </div>
      
    </div>

    <div class="col-sm-8 col-md-8">
      <div class='panel panel-info panel-history'>
          
          <div class="panel-heading"><h2>Order Overview</h2></div>
              <table class="table table-striped sticky-header">
                <thead>
                <tr>
                  <th>Customer</th>
                  <th>Product Name</th>
                  <th>Quantity</th>
                  <th>Size</th>
                  <th>Color</th>
                  <th>Payment</th>
                </tr>
                <tbody>
                    <% users.forEach(function(user) { %>
                        <% orders.forEach(function(order) { %>
                          <% if(order.user.username === user.username && order.status === 'PAID') { %>
                            <% order.line_items.forEach(function(lineItem) { %>
                                <tr>
                                  <td><%= user.username%></td>
                                  <td><%= lineItem.item.name%></td>
                                  <td><%= lineItem.quantity %></td>
                                  <td><%= lineItem.size %></td>
                                  <td><%= lineItem.item.colors[lineItem.color].name %></td>
                                  <td><%= order.status %></td>
                                </tr>
                            <% }); %>
                            
                            
                          <% } %>
                        <% }); %>
                    <% }); %>
                </tbody>
                </thead>
              </table>
              
              
              
              
          </div>
          
          
          
          
          

      <div class='panel panel-info panel-favourite'>
        <div class="panel-heading"><h2>Users Overview</h2></div>
        
                <table class="table table-striped sticky-header">
                    <thead>
                    <tr>
                      <th>Picture</th>
                      <th>User Name</th>
                      <th>Email</th>
                      <th>Account Type</th>
                    </tr>
                    <tbody>
                        <% users.forEach(function(user) { %>
                            <tr>
                              <td><img class="media-object" src="<%= user.picture%>" style="width: 72px; height: 72px;"></td>
                              <td><%= user.username %></td>
                              <td><%= user.email %></td>
                              <td>
                                  <% if(user.isAdmin) { %>
                                      Admin
                                  <% } else { %>
                                      Customer
                                  <% } %>
                              </td>
                              <td>
                                <!--Delete User-->
                                
                                <form action='/delete-profile?_method=DELETE' method='POST'>
                                  <input type='hidden' name='user_id' value='<%= user._id%>'>
                                  <button class='btn btn-warning btn-sm'>Delete</button>
                                </form>
                                </td>
                                <td>
                                <!--Allow Admin Access-->
                                <form action='/allow-admin' method='POST'>
                                  <input type='hidden' name='user_id' value='<%= user._id%>'>
                                  <button class='btn btn-primary btn-sm'>Admin Access</button>
                                </form>
                              </td>
                            </tr>
                         <% }); %>
                    </tbody>
                    </thead>
                 </table>
        
          
      </div><!--End of Well-->
      
      
    </div><!--End of Panel-->
  </div>



<% include partials/footer.ejs %>