<% include partials/header.ejs %>

<link rel="stylesheet" href="/stylesheets/homepage.css">

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="10000" id="bs-carousel">

  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Wrapper for Hero slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1 id='hero-main-text1'>The Fashion You Dream</h1>
            <h1 id='hero-main-text2'>The Style You Inspire</h1> 
            <h1 id='hero-main-text2'>Is Just a Click Away</h1> 
        </hgroup>
        <a href='/category/all/1/?sort=created&dir=desc'>
            <div class='pull-left'>
              <!--<h3 class='burmese'>မိုးရာသီအထူးလျော့စျေး</h3>-->
              <a href='/category/all/1/?sort=created&dir=desc' class="btn btn-hero btn-lg" role="button">SHOP NOW</a>
            </div>
        </a>
      </div>
    </div>
   
  </div> 
</div>


<!--container width 1200px-->
<div class="homepage-container">
    
<!--===========================================-->
<!--LATEST ITEMS-->
<!--===========================================-->    
<div class="row latest-item">
		<!--<div class="col-md-12">-->
    <div class='col-sm-12'>
        <h3 class='multilanguage best-selling-headers best-selling-headers-women'><%= __('Latest Arrivals') %></h3> 
        <hr class="seperator-line">
    </div>
       
    <div class='col-sm-12'>
        <div id="bestSellingCarousel" class="carousel slide">
                 
            <ol class="carousel-indicators">
                <li data-target="#bestSellingCarousel" data-slide-to="0" class="active"></li>
                <% if (similarItems.length > 4) { %>
                <li data-target="#bestSellingCarousel" data-slide-to="1"></li>
                <% } %>
                <% if (similarItems.length > 8) { %>
                <li data-target="#bestSellingCarousel" data-slide-to="2"></li>
                <% } %>
                <% if (similarItems.length > 12) { %>
                <li data-target="#bestSellingCarousel" data-slide-to="3"></li>
                <% } %>
            </ol>
                 
            <!-- Carousel items -->
        <div class="carousel-inner">
                    
             <% if(typeof similarItems !== "undefined") { %>
                <div class="item active">
                	<div class="row">
                            	  
                        <% for (var i=0; i<similarItems.length; i++) { %>
                            <% if(i<4) { %>
                                <div class="col-sm-6 col-md-3 thumbnail-container">
                                	<div href="#" class="thumbnail">
                                	   <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><img src='<%=similarItems[i].image[0]%>'></a>
                                            <div class='caption'>
                                                <div class='product-name-container'>
                                                    <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><h4 class="multilanguage product-name"><%=similarItems[i].name.en%></h4></a>
                                                </div>
                                                
                                                <% if(parseFloat(similarItems[i].price).toFixed(1) != parseFloat(similarItems[i].discountPrice).toFixed(1)) { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(similarItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(similarItems[i].discountPrice).toFixed(1)/parseFloat(similarItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                    <div class="original-price">
                                                        <p class='index-original-price'>        Ks <%= parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                    </div>
                                                <% } else { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                    <div class="original-price">
                                                        
                                                    </div>
                                                <% } %>
                                                <div class="rating-stars">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <script>
                                                    // $(document).on('ready', function(){
                                                        $('.input-3').rating({displayOnly: true, step: 0.1});
                                                    // });
                                                    </script>
                                                    <br>
                                                </div>
                                            
                                                <div class='seemore-addtocart'>
                                                    <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                    <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                </div>
                                            </div>
                            	   </div>
                            	</div>
                            	  <% } %>
                        	  <% } %>
                        	 
                    </div><!--.row-->
               </div><!--.item-->
                     
                        <% if (similarItems.length > 4) { %>
                            <div class="item">
                            	<div class="row">
                            	    <% for (var i=4; i<similarItems.length; i++) { %>
                                	  <% if(i<8) { %>
                                	  <div class="col-sm-6 col-md-3 thumbnail-container">
                                	        <div href="#" class="thumbnail">
                                	            <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><img src='<%=similarItems[i].image[0]%>'></a>
                                                <div class='caption'>
                                                    <div class='product-name-container'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><h4 class="multilanguage product-name"><%=similarItems[i].name.en%></h4></a>
                                                    </div>
                                                    <% if(parseFloat(similarItems[i].price).toFixed(1) != parseFloat(similarItems[i].discountPrice).toFixed(1)) { %>
                                                        <p class='product-price'>Ks <%=  parseFloat(similarItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(similarItems[i].discountPrice).toFixed(1)/parseFloat(similarItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                        <div class="original-price">
                                                            <p class='index-original-price'>        Ks <%= parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                        </div>
                                                    <% } else { %>
                                                        <p class='product-price'>Ks <%=  parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                        <div class="original-price"></div>
                                                    <% } %>
                                                    <div class="rating-stars">
                                                        <table>
                                                          <tr>
                                                            <td>
                                                              <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                            </td>
                                                          </tr>
                                                        </table>
                                                        <script>
                                                        // $(document).on('ready', function(){
                                                            $('.input-3').rating({displayOnly: true, step: 0.1});
                                                        // });
                                                        </script>
                                                        <br>
                                                    </div>
                                                
                                                    <div class='seemore-addtocart'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                    </div>
                                                </div>
                                	        </div>
                                	  </div>
                                	  <% } %>
                            	  <% } %>
                            	</div><!--.row-->
                            </div><!--.item-->
                        <% } %>
                        
                        <% if (similarItems.length > 8) { %>
                            <div class="item">
                            	<div class="row">
                            	    <% for (var i=8; i<similarItems.length; i++) { %>
                                	  <% if(i<12) { %>
                                	  <div class="col-sm-6 col-md-3 thumbnail-container">
                                	        <div href="#" class="thumbnail">
                                	            <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><img src='<%=similarItems[i].image[0]%>'></a>
                                                <div class='caption'>
                                                    <div class='product-name-container'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><h4 class="multilanguage product-name"><%=similarItems[i].name.en%></h4></a>
                                                    </div>
                                                    <% if(parseFloat(similarItems[i].price).toFixed(1) != parseFloat(similarItems[i].discountPrice).toFixed(1)) { %>
                                                        <p class='product-price'>Ks <%=  parseFloat(similarItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(similarItems[i].discountPrice).toFixed(1)/parseFloat(similarItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                        <div class="original-price">
                                                            <p class='index-original-price'>        Ks <%= parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                        </div>
                                                    <% } else { %>
                                                        <p class='product-price'>Ks <%=  parseFloat(similarItems[i].price).toLocaleString() %></p>
                                                        <div class="original-price"></div>
                                                    <% } %>
                                                    <div class="rating-stars">
                                                        <table>
                                                          <tr>
                                                            <td>
                                                              <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                            </td>
                                                          </tr>
                                                        </table>
                                                        <script>
                                                        // $(document).on('ready', function(){
                                                            $('.input-3').rating({displayOnly: true, step: 0.1});
                                                        // });
                                                        </script>
                                                        <br>
                                                    </div>
                                                
                                                    <div class='seemore-addtocart'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                    </div>
                                                </div>
                                	        </div>
                                	  </div>
                                	  <% } %>
                            	  <% } %>
                            	</div><!--.row-->
                            </div><!--.item-->
                        <% } %>
    
                    <% } %> 
                     
                </div><!--.carousel-inner-->
                      <a data-slide="prev" href="#bestSellingCarousel" class="left carousel-control related">‹</a>
                      <a data-slide="next" href="#bestSellingCarousel" class="right carousel-control related">›</a>
            </div><!--.Carousel-->
            </div>
                 
		<!--</div>-->
	</div><!--.End Row Related-Items-->


<!--===========================================-->
<!--HIGHTLIGHTS AND PROMOTIONS-->
<!--===========================================-->
<div class="row hightlights">
		<!--<div class="col-md-12">-->
        <div class='col-sm-12'>
          <h3 class='multilanguage best-selling-headers best-selling-headers-women'><%= __('Highlights and Promotions') %></h3> 
          <hr class="seperator-line">
        </div>
        
        <div class='col-sm-12'>
            <div id="RelatedCarousel" class="carousel slide">
             
            <ol class="carousel-indicators">
                    <li data-target="#RelatedCarousel" data-slide-to="0" class="active"></li>
                <% if (similarItems.length > 4) { %>
                    <li data-target="#RelatedCarousel" data-slide-to="1"></li>
                <% } %>
                <% if (similarItems.length > 8) { %>
                    <li data-target="#RelatedCarousel" data-slide-to="2"></li>
                <% } %>
                <% if (similarItems.length > 12) { %>
                    <li data-target="#RelatedCarousel" data-slide-to="3"></li>
                <% } %>
            </ol>
             
            <!-- Carousel items -->
            <div class="carousel-inner">
                
                <% if(typeof hotItems !== "undefined") { %>
                    <div class="item active">
                    	<div class="row">
                    	  
                    	  <% for (var i=0; i<hotItems.length; i++) { %>
                        	  <% if(i<4) { %>
                        	  <div class="col-sm-6 col-md-3 thumbnail-container">
                        	        <div href="#" class="thumbnail">
                        	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                        <div class='caption'>
                                            <div class='product-name-container'>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                            </div>
                                            <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                <div class="original-price">
                                                    <p class='index-original-price'>        Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                </div>
                                            <% } else { %>
                                                <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                <div class="original-price"></div>
                                            <% } %>
                                            <div class="rating-stars">
                                                <table>
                                                  <tr>
                                                    <td>
                                                      <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                    </td>
                                                  </tr>
                                                </table>
                                                <script>
                                                // $(document).on('ready', function(){
                                                    $('.input-3').rating({displayOnly: true, step: 0.1});
                                                // });
                                                </script>
                                                <br>
                                            </div>
                                        
                                            <div class='seemore-addtocart'>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                            </div>
                                        </div>
                        	        </div>
                        	  </div>
                        	  <% } %>
                    	  <% } %>
                    	 
                    	</div><!--.row-->
                    </div><!--.item-->
                 
                    <% if (hotItems.length > 4) { %>
                        <div class="item">
                        	<div class="row">
                        	    <% for (var i=4; i<hotItems.length; i++) { %>
                            	  <% if(i<8) { %>
                            	  <div class="col-sm-6 col-md-3 thumbnail-container">
                            	        <div href="#" class="thumbnail">
                            	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                            <div class='caption'>
                                                <div class='product-name-container'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                                </div>
                                                <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                    <div class="original-price">
                                                        <p class='index-original-price'>        Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                    </div>
                                                <% } else { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                    <div class="original-price"></div>
                                                <% } %>
                                                <div class="rating-stars">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <script>
                                                    // $(document).on('ready', function(){
                                                        $('.input-3').rating({displayOnly: true, step: 0.1});
                                                    // });
                                                    </script>
                                                    <br>
                                                </div>
                                            
                                                <div class='seemore-addtocart'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                </div>
                                            </div>
                            	        </div>
                            	  </div>
                            	  <% } %>
                        	  <% } %>
                        	</div><!--.row-->
                        </div><!--.item-->
                    <% } %>
                    
                    <% if (hotItems.length > 8) { %>
                        <div class="item">
                        	<div class="row">
                        	    <% for (var i=8; i<hotItems.length; i++) { %>
                            	  <% if(i<12) { %>
                            	  <div class="col-sm-6 col-md-3 thumbnail-container">
                            	        <div href="#" class="thumbnail">
                            	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                            <div class='caption'>
                                                <div class='product-name-container'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                                </div>
                                                <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                    <div class="original-price">
                                                        <p class='index-original-price'>        Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                    </div>
                                                <% } else { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                    <div class="original-price"></div>
                                                <% } %>
                                                <div class="rating-stars">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <script>
                                                    // $(document).on('ready', function(){
                                                        $('.input-3').rating({displayOnly: true, step: 0.1});
                                                    // });
                                                    </script>
                                                    <br>
                                                </div>
                                            
                                                <div class='seemore-addtocart'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                </div>
                                            </div>
                            	        </div>
                            	  </div>
                            	  <% } %>
                        	  <% } %>
                        	</div><!--.row-->
                        </div><!--.item-->
                    <% } %>

                <% } %> 
                 
            </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#RelatedCarousel" class="left carousel-control related">‹</a>
                  <a data-slide="next" href="#RelatedCarousel" class="right carousel-control related">›</a>
            </div><!--.Carousel-->
        </div><!-- End of col-sm-12-->
                 
</div><!-- End of hightlights-->
	<!--</div><!--.End Row Related-Items-->


<!--===========================================-->
<!--Hot Brands-->
<!--===========================================-->
<div class='row hotBrands'>
  
  <div class='col-sm-12'>
    <h3 class='multilanguage best-selling-headers best-selling-headers-women'><%= __('Hot Brands') %></h3> 
    <hr class="seperator-line">
  </div>
</div>
<div class='row hotBrands'>
  <div class='col-sm-6 col-md-3'>
    <a href="/brand/G2000/1/?sort=created&dir=desc"><img src="/images/logo/G2000.jpg"></a>
  </div>
  
  <div class='col-sm-6 col-md-3'>
    <a href="/brand/Giordano/1/?sort=created&dir=desc"><img src="/images/logo/giordano.jpg"></a>
  </div>
  <div class='col-sm-6 col-md-3'>
    <a href="/brand/H&M/1/?sort=created&dir=desc"><img src="/images/logo/HandM.png"></a>
  </div>
  <div class='col-sm-6 col-md-3'>
    <a href="/brand/Uniclo/1/?sort=created&dir=desc"><img src="/images/logo/uniclo.png"></a>
  </div>
  <!--<div class='col-sm-6 col-md-3'>-->
  <!--  <img src="/images/logo/Charles and Kate.jpg">-->
  <!--</div>-->
  
  
</div><!-- End of hotbrand -->


<!--===========================================-->
<!--BESTSELLING ITEMS-->
<!--===========================================-->

<div class="row bestselling-item">
		<!--<div class="col-md-12">-->
        <div class='col-sm-12'>
          <h3 class='multilanguage best-selling-headers best-selling-headers-women'><%= __('Bestselling Items') %></h3> 
          <hr class="seperator-line">
        </div>
        
        <div class='col-sm-12'>
            <div id="BestSellingCarousel" class="carousel slide">
             
            <ol class="carousel-indicators">
                    <li data-target="#BestSellingCarousel" data-slide-to="0" class="active"></li>
                <% if (similarItems.length > 4) { %>
                    <li data-target="#BestSellingCarousel" data-slide-to="1"></li>
                <% } %>
                <% if (similarItems.length > 8) { %>
                    <li data-target="#BestSellingCarousel" data-slide-to="2"></li>
                <% } %>
                <% if (similarItems.length > 12) { %>
                    <li data-target="#BestSellingCarousel" data-slide-to="3"></li>
                <% } %>
            </ol>
             
            <!-- Carousel items -->
            <div class="carousel-inner">
                
                <% if(typeof hotItems !== "undefined") { %>
                    <div class="item active">
                    	<div class="row">
                    	  
                    	  <% for (var i=0; i<hotItems.length; i++) { %>
                        	  <% if(i<4) { %>
                        	  <div class="col-sm-6 col-md-3 thumbnail-container">
                        	        <div href="#" class="thumbnail">
                        	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                        <div class='caption'>
                                            <div class='product-name-container'>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                            </div>
                                            <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                <p class='index-original-price'>Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                                    
                                            <% } else { %>
                                                <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                            <% } %>
                                            <div class="rating-stars">
                                                <table>
                                                  <tr>
                                                    <td>
                                                      <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                    </td>
                                                  </tr>
                                                </table>
                                                <script>
                                                // $(document).on('ready', function(){
                                                    $('.input-3').rating({displayOnly: true, step: 0.1});
                                                // });
                                                </script>
                                                <br>
                                            </div>
                                        
                                            <div class='seemore-addtocart'>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                            </div>
                                        </div>
                        	        </div>
                        	  </div>
                        	  <% } %>
                    	  <% } %>
                    	 
                    	</div><!--.row-->
                    </div><!--.item-->
                 
                    <% if (hotItems.length > 4) { %>
                        <div class="item">
                        	<div class="row">
                        	    <% for (var i=4; i<hotItems.length; i++) { %>
                            	  <% if(i<8) { %>
                            	  <div class="col-sm-6 col-md-3 thumbnail-container">
                            	        <div href="#" class="thumbnail">
                            	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                            <div class='caption'>
                                                <div class='product-name-container'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                                </div>
                                                <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                    <span class='index-original-price'>        Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                    
                                                <% } else { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                <% } %>
                                                <div class="rating-stars">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <script>
                                                    // $(document).on('ready', function(){
                                                        $('.input-3').rating({displayOnly: true, step: 0.1});
                                                    // });
                                                    </script>
                                                    <br>
                                                </div>
                                            
                                                <div class='seemore-addtocart'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                </div>
                                            </div>
                            	        </div>
                            	  </div>
                            	  <% } %>
                        	  <% } %>
                        	</div><!--.row-->
                        </div><!--.item-->
                    <% } %>
                    
                    <% if (hotItems.length > 8) { %>
                        <div class="item">
                        	<div class="row">
                        	    <% for (var i=8; i<hotItems.length; i++) { %>
                            	  <% if(i<12) { %>
                            	  <div class="col-sm-6 col-md-3 thumbnail-container">
                            	        <div href="#" class="thumbnail">
                            	            <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><img src='<%=hotItems[i].image[0]%>'></a>
                                            <div class='caption'>
                                                <div class='product-name-container'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>'><h4 class="multilanguage product-name"><%=hotItems[i].name.en%></h4></a>
                                                </div>
                                                <% if(parseFloat(hotItems[i].price).toFixed(1) != parseFloat(hotItems[i].discountPrice).toFixed(1)) { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].discountPrice).toLocaleString() %><span class='discount-percent'>      (Save <%= (100-((parseFloat(hotItems[i].discountPrice).toFixed(1)/parseFloat(hotItems[i].price))*100)).toFixed(1).toLocaleString() %> % )</span></p>
                                                    <p class='index-original-price'>        Ks <%= parseFloat(hotItems[i].price).toLocaleString() %></p>
                    
                                                <% } else { %>
                                                    <p class='product-price'>Ks <%=  parseFloat(hotItems[i].price).toLocaleString() %></p>
                                                <% } %>
                                                <div class="rating-stars">
                                                    <table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                    </table>
                                                    <script>
                                                    // $(document).on('ready', function(){
                                                        $('.input-3').rating({displayOnly: true, step: 0.1});
                                                    // });
                                                    </script>
                                                    <br>
                                                </div>
                                            
                                                <div class='seemore-addtocart'>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                    <a href='/product/<%=hotItems[i].category.name%>/<%=hotItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                </div>
                                            </div>
                            	        </div>
                            	  </div>
                            	  <% } %>
                        	  <% } %>
                        	</div><!--.row-->
                        </div><!--.item-->
                    <% } %>

                <% } %> 
                 
            </div><!--.carousel-inner-->
                  <a data-slide="prev" href="#BestSellingCarousel" class="left carousel-control related">‹</a>
                  <a data-slide="next" href="#BestSellingCarousel" class="right carousel-control related">›</a>
        </div><!--.Carousel-->
        </div><!--.End col-sm-12-->
                 
		<!--</div>-->
	</div><!--.End BestSelling-Items-->


<!--===========================================-->
<!-- SHOP BY CATEGORIES -->
<!--===========================================-->
    
<div class="row shopbycategories">
		<!--<div class="col-md-12">-->
        <div class='col-sm-12'>
          <h3 class='multilanguage best-selling-headers best-selling-headers-women'><%= __('Shop By Categories') %></h3> 
          <hr class="seperator-line">
        </div>
        
    <div class='row'>
        <div class='shop-body'>
           <div class='col-md-3 col-sm-6 col-xs-12'>
              <div class="thumbnail">
      			<a href="/main-category/Men's Clothing/1/?sort=created&dir=desc">
        		<img src="images/homepage/tshirt.svg" alt="menclothing" class="logo-img">
        	<div class="caption pink-caption">
          		<p class='pink'>Men's Clothings</p>
        	</div><!--  End Caption -->
      			</a>
    		</div><!-- End thumbnail --> 
           </div>
           <div class='col-md-3 col-sm-6 col-xs-12'>
                <div class="thumbnail">
      			    <a href="/main-category/Women's Clothing/1/?sort=created&dir=desc">
        		    <img src="images/homepage/women-blouse.svg" alt="Lights">
        	    <div class="caption pink-caption">
          		    <p class='pink'>Women's Clothings</p>
        	    </div><!--  End Caption -->
      			    </a>
    		    </div><!-- End thumbnail --> 
           </div>
           <div class='col-md-3 col-sm-6 col-xs-12'>
               <div class="thumbnail">
      			    <a href="/main-category/Bags/1/?sort=created&dir=desc">
        		    <img src="images/homepage/bag.svg" alt="Lights">
        	    <div class="caption pink-caption">
          		    <p class='pink'>Bags</p>
            	</div><!--  End pink-caption -->
      			    </a>
    		   </div><!-- End thumbnail --> 
           </div>
           <div class='col-md-3 col-sm-6 col-xs-12'>
               <div class="thumbnail">
      			    <a href="/main-category/Shoes/1/?sort=created&dir=desc">
        		    <img src="images/homepage/shoe.svg" alt="Lights">
        	   <div class="caption pink-caption">
          		    <p class='pink'>Shoes</p>
                </div><!--  End pink-caption -->
      			    </a>
    	        </div><!-- End thumbnail --> 
           </div>
             <div class='col-md-3 col-sm-6 col-xs-12'>
               <div class="thumbnail">
      			    <a href="/main-category/Jewellery/1/?sort=created&dir=desc">
        		    <img src="images/homepage/necklace.svg" alt="Lights">
        	   <div class="caption pink-caption">
          		    <p class='pink'>Jewellery</p>
                </div><!--  End pink-caption -->
      			    </a>
    	        </div><!-- End thumbnail --> 
           </div>
             <div class='col-md-3 col-sm-6 col-xs-12'>
               <div class="thumbnail">
      			    <a href="/category/all/1/?sort=created&dir=desc">
        		    <img src="images/homepage/menu.svg" alt="Lights">
        	   <div class="caption pink-caption">
          		    <p class='pink'>All Categories</p>
                </div><!--  End pink-caption -->
      			    </a>
    	        </div><!-- End thumbnail --> 
           </div>
        </div>	<!--End of 'shop-body'-->
    </div><!-- End of 'row' -->
</div><!--End "row shopbycategories"-->













<!----------------------------------------------------------------------->
</div> <!--End homepage-container-->




 
 


<% include partials/footer.ejs %>