<% include ../partials/header %>
    <link rel="stylesheet" href="/stylesheets/cart.css">
    <link rel="stylesheet" href="/stylesheets/payment_form.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js"></script>
    
<div class='card-container'>

    <!--<div class="login-card">-->
      <div class='col-md-3 login-card'>
        <div class='card1-header'>
         <h2>Options</h2> 
        </div><!-- End of 'card1-header' -->
        
        <div class='options'>
          <div class='delivery'>
            <h4>Delivery Option</h4>
            <div class='deli'>
            <input type="radio" id="deliverRadio01" name="deliveryOptionRadio" checked='checked' value='0' />
            <label for="radio01"><span></span>Home Delivery</label>
            </div>
      
            <div class='deli'>
             <input type="radio" id="deliverRadio02" name="deliveryOptionRadio" value='1'/>
             <label for="radio02"><span></span>Self-Collect</label>
            </div>
          </div><!-- End of 'delivery' -->
          
          <div class='payment'>
             <h4>Payment Option</h4>
            <div class='deli'>
              <input type="radio" id="paymentRadio01" name="paymentOptionRadio" checked='checked' value='0' />
              <label for="radio01"><span>Cash on Delivery</span></label>
            </div>
            
            <div class='deli'>
             <input type="radio" id="paymentRadio02" name="paymentOptionRadio" value='1'/>
             <label for="radio02"><span>Pay with Credit Card</span></label>
            </div>
          </div><!-- End of 'payment' -->
        </div><!-- End of 'options' -->
        <div class='address'>
          <h4>Delivery Address</h4>
          
          <% if (currentUser.address.city === "" || typeof currentUser.address.city === 'undefined')  { %>
              <p><span style="color: #c0392b; font-weight: bold">Please Update your Delivery Address.</span></p>
              <button type="button" class="btn btn-primary ecommerceButtons multilanguage burmese" data-toggle="modal" data-target="#upde-delivery-address">Update Address</button>
          <% } else { %>
            <p class='deli'>Room No: <%= currentUser.address.room_no %>, Floor: <%= currentUser.address.floor %></p>
            <p class='deli'>Building: <%= currentUser.address.building_no %>, Street: <%= currentUser.address.street %></p>
            <p class='deli'><%= currentUser.address.ward %>, <%= currentUser.address.township %> Township, <span id='addressCity'><%= currentUser.address.city %></span></p>
            <button type="button" class="btn btn-primary ecommerceButtons multilanguage burmese" data-toggle="modal" data-target="#upde-delivery-address">Update Address</button>
          <% } %>
        
        </div><!-- End of 'address' -->
        
      </div><!-- End of 'col-md-3 login-card' -->
    
      <div class='col-md-9 login-card'>
        <div class='card2-header'>
         <h2>Your Shopping Cart</h2> 
        </div><!-- End of 'card2-header' -->
        <div class="row">
            <div class="col-sm-12 col-md-offset-1" id='empty-cart-row'>
                <% if(cart === 0) { %>
                <div id="empty-message">
                  <h4 id='empty-cart-text'>Your Shopping Cart is Empty...let's go some Shopping !</h4>
                  <a href="category/all/1/?sort=created&dir=desc" id='empty-btn' class="btn btn-primary">See All Products</a>
                </div>
                  
                <% } else { %>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th class='table-head'>Product Details</th>
                            <th></th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit Price</th>
                            <th style='text-align: center'>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--=======Each Row for Each Order ========-->
                        <% order.line_items.forEach(function(lineItem) { %>
                            <tr>
                                <td class="col-sm-8 col-md-6">
                                    <div class="media">
                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="<%=  lineItem.item.image[0] %>"> </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">
                                                <a href="#">
                                                    <% if(currentLanguage === "en") { %>
                                                    <%= lineItem.item.name.en%>
                                                    <% } else { %>
                                                    <%= lineItem.item.name.mm%>
                                                    <% } %>
                                                </a>
                                            </h4>
                                            <h5 class="media-heading"> Brand - 
                                                <a href="#">
                                                    <%= lineItem.item.detail.brand%>
                                                </a>
                                            </h5>
                                            <span>Size : </span><span class="text-success"><%= lineItem.size%></span>
                                            <span>Color : </span><span class="text-success"><%= lineItem.item.colors[0].name%></span>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-center">
                                  <form action='/cart?_method=DELETE' method='POST'>
                                        <input type=hidden name='item' value='<%= lineItem._id %>'>
                                        <input type=hidden name='price' value='<%= lineItem.price %>'>
                                        <button id='trash-btn'><span id='trash-color'>Remove  </span><img src="/images/homepage/trash.svg" style="width:16px;height:16px"></button>
                                      </form>
                                  
                                </td>
                                <td class="text-center">
                                    <input type="text" class="form-control" id="exampleInputEmail1" value="<%= lineItem.quantity%>">
                                </td>
                                <td class="text-center" style="max-width:100px; min-width:100px; max-height:50px; min-height:50px; width:100px; height:10px;">
                                  <h5>
                                  Ks <%=lineItem.item.price.toLocaleString()%>
                                </h5></td>                                
                                <td class="text-center">
                                    <h5>
                                       Ks <%=  lineItem.price.toLocaleString() %>
                                    </h5>
                                    <div class="col-sm-3">
                                      <form action='/cart?_method=DELETE' method='POST'>
                                        <input type=hidden name='item' value='<%= lineItem._id %>'>
                                        <input type=hidden name='price' value='<%= lineItem.price %>'>
                                        
                                      </form>
                                    </div>
                                    

                                </td>
                            </tr> <!--End of Table Row for Each Order-->
                            <% }); %>

                        <!--=========Row - Sub Total ==============-->
                            <!--<hr>-->
                            <tr class='border-line'>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style='text-align: center'>
                                    <h5><strong>Subtotal</strong></h5>
                                </td>
                                <td class="text-center">
                                    <h5 style='font-size: 11px'>Ks <span id='subTotal'><%= order.total_price%></span></h5>
                                </td>
                            </tr>
                        <!--=========Row - Delovery Option ==============-->        
                            <!--<tr>-->
                            <!--    <td></td>-->
                            <!--    <td>   </td>-->
                            <!--    <td>   </td>-->
                            <!--    <td></td>-->
                            <!--    <td></td>-->
                            <!--</tr>-->
                        <!--=========Row - Delivery Fee ==============-->        
                            <tr id='deliveryFeeRow'>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td style='text-align: center'><h5><strong>Delivery Fee</strong></h5></td>
                                <td class="text-center">
                                  <% if (currentUser.address.city === "" || typeof currentUser.address.city === 'undefined')  { %>
                                  <h5 style='font-size: 11px'>Ks <span id='deliveryFee'>0.0</span></h5>
                                  <% } else { %>
                                  <h5>Ks <span id='deliveryFee'>2000</span></h5>
                                  <% } %>
                                </td>
                            </tr>

                        <!--=========Row - Grand Total ==============-->
                            <tr class='border-top-bottom'>
                                <td>
                                    
                                </td>
                                <td>   </td>
                                <td>   </td>
                                <td style='text-align: center'>
                                    <h5><strong>Grand Total</strong></h5>
                                </td>
                                <td class="text-center">
                                    <h3 style='font-size: 13px'  id='grand-margin'><strong>Ks <span class='grandTotal'></span></strong></h3>
                                </td>
                            </tr>
                        <!--=========Row - Payment BUttons==============-->
                            <tr>
                                <td>   </td>
                                <td>   </td>
                                <td>   </td>
                                <td>
                                    <a href='/category/all/1/?sort=created&dir=desc'><button type="button" class="btn btn-primary ecommerceButtons"><span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping</button></a>
                                </td>
                                <td>
                                  <% if (currentUser.address.city === "" || typeof currentUser.address.city === 'undefined')  { %>
                                    <button class="btn btn-primary ecommerceButtons buyButton" data-toggle="modal" data-target="#updateAddressWarning">Confirm Order</button>
                                  <% } else { %>
                                    <button class="btn btn-primary ecommerceButtons buyButton" data-toggle="modal" data-target="#stripeModal">Confirm Order</button>
                                  <% } %>
                                  
                                  <% if (currentUser.address.city === "" || typeof currentUser.address.city === 'undefined')  { %>
                                      <button type="submit" class="btn btn-primary ecommerceButtons confirmButton" data-toggle="modal" data-target="#updateAddressWarning">Confirm Order</button>
                                  <% } else { %>
                                    <form action='/payment-cash' method='POST'>
                                      <input type="hidden" name="stripeMoney" value="<%= order.total_price %>">
                                      <input type="hidden" name="deliveryFee" value="10.0">
                                      <button type="submit" class="btn btn-primary ecommerceButtons confirmButton">Confirm Order</button>
                                    </form>
                                  <% } %>
                                </td>
                            </tr>
                        <!--=============================-->
                    </tbody>
                </table>
                <% } %>
            </div>
        </div><!--End of 'row'-->
      </div><!--End of 'Col-md-9'-->
      
</div><!-- End of 'card-container' -->      
    <!--</div>End of 'Login-Card'-->
    
    <!--Update Delivery Address Modal-->
    <div class="modal fade" id="upde-delivery-address" tabindex="-1" role="dialog" aria-labelledby="upde-delivery-address">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title multilanguage burmese" id="upde-delivery-address-header">Update Delivery Address</h4>
          </div>
          <div class="modal-body">
            <div class='inputForms' id='edit-address-form'>
                <form class='form-group' action='/edit-profile' method='POST'>
                    <div class="form-group">
                      <!--<label="name">Name: </label>-->
                      <input type='hidden' class="form-control" value="<%= currentUser.username %>" name="name">
                    </div>
                    <div class="form-group">
                      <label>Mobile Number: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.mobile %>" name="mobile" required>
                    </div>
                    <div class="form-group">
                      <!--Room No-->
                      <label>Room No: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.room_no %>" name="room_no">
                      
                      <!--Floor-->
                      <label>Floor: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.floor %>" name="floor">
                      
                      <!--Building No-->
                      <label>Build No: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.building_no %>" name="building_no" required>
                      
                      <!--Street-->
                      <label>Street: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.street %>" name="street">
                      
                      <!--Ward-->
                      <label>Ward: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.ward %>" name="ward">
                     
                     <label>Township</label>
                      <select class='form-control' id='township-selector' name='township'>
                        <% var twnship = ["Ahlon","Bahan","Botataung","Dagon Seikkan","Dagon","Dala","Dawbon","East Dagon","Hlaing","Hlaing Thar Yar","Insein","Kamayut","Kyauktada","Kyi Myin Daing","Lanmadaw","La Thar","Mayangone","Mingala Taung Nyunt","Mingaladon","North Dagon","North Okkalapa","Pabedan","Pazundaung","Sanchaung","Shwe Pyi Thar","South Dagon","South Okkalapa","Tamwe","Thaketa","Thingangyun","Yankin"]%>
                        <% if(currentUser.address.township === "") { %>
                          <option name="table2" value="" selected="selected" required></option>
                        <% } %>
                        <% for(var i=0;i<twnship.length;i++) { %>
                          <% if(currentUser.address.township === twnship[i]) { %>
                            <option name="table2" value="<%= twnship[i]%>" selected="selected"><%= twnship[i]%></option>
                          <% } else { %>
                            <option name="table2" value="<%= twnship[i]%>"><%= twnship[i]%></option>
                          <% }%>
                        <% } %>  
                      </select>
                      
                      <!--City-->
                      <label>City: </label>
                      <input type="text" class="form-control" value="<%= currentUser.address.city %>" name="city" required>

                    </div>
              
                    <button type="submit" class="btn btn-success">Update Address</button>                    
                </form>
            </div>
          </div>
        </div>
      </div>
    </div><!--End of Modal-->
    
    
    <!--Stripe Modal-->
    
    <div class="modal fade" id="stripeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pay with Credit Card</h4>
              </div>
              
                <div class="modal-body">
                <!-- Credit card form -->
                
                  <div class="row">
                    <div class="col-xs-12" id="model-body-container">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <!--<h3 class="panel-title">-->
                            <img class="credit-cards" src="http://i76.imgup.net/accepted_c22e0.png">
                          <!--</h3>-->
                        </div>
                        <div class="panel-body">
                          <form role="form" id="payment-form" action="/payment-card" method="POST">
                            <input type="hidden" name="stripeMoney" value="<%= order.total_price %>">
                            <input type="hidden" name="deliveryFee" value="10.0">
                            <div class="row">
                              <div class="col-xs-12">
                                <div class="form-group">
                                  <label for="cardNumber">CARD NUMBER</label>
                                  <div class="input-group">
                                    <input type="text" class="form-control" name="cardNumber" placeholder="Valid Card Number" required autofocus data-stripe="number" />
                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row" id='exp-date-and-cv-code-row'>
                              <div class="col-xs-7 col-md-7">
                                <div class="form-group" id="expire-date-group">
                                  <label for="expMonth">EXPIRATION DATE</label>
                                  <!--<div class="col-xs-6 col-lg-6 pl-ziro">-->
                                    <input type="text" class="form-control" name="expMonth" placeholder="MM" required data-stripe="exp_month" />
                                  <!--</div>-->
                                  <!--<div class="col-xs-6 col-lg-6 pl-ziro">-->
                                    <input type="text" class="form-control" name="expYear" placeholder="YY" required data-stripe="exp_year" />
                                  <!--</div>-->
                                </div>
                              </div>
                              <div class="col-xs-5 col-md-5 pull-right">
                                <div class="form-group" id='cv-code-group'>
                                  <label for="cvCode">CV CODE</label>
                                  <input type="password" class="form-control" name="cvCode" placeholder="CV" required data-stripe="cvc" />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-xs-12">
                                <button class="btn btn-success btn-lg btn-block" type="submit">Pay  Ks <span class='grandTotal'><%= order.total_price %></span></button>
                              </div>
                            </div>
                            <div class="row" style="display:none;">
                              <div class="col-xs-12">
                                <p class="payment-errors"></p>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                

              </div>

            </div>
          </div>
        </div> <!--End of Stripe Modal-->
        
        
        
    <!--Warning Delivery Address Modal-->
    <div class="modal fade" id="updateAddressWarning" tabindex="-1" role="dialog" aria-labelledby="updateAddressWarning">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title multilanguage burmese" id="upde-delivery-address-header">Empty Delivery Address</h4>
          </div>
          <div class="modal-body">
            <div class='inputForms edit-comment-form'>
                <p>Please Update the Delivery Address before you confirm the order.</p>
            </div>
          </div>
          
          <div class='modal-footer'>
            <button type="button" class="btn btn-primary ecommerceButtons multilanguage burmese" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div><!--End of Modal-->


    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src='/js/custom.js'></script>
    <script src='/js/cart.js'></script>

    <script src='/js/jquery.jcarousel.min.js'></script>
    <script src='/js/jcarousel.connected-carousels.js'></script>

    </body>

    </html>
    
  