<% include ../partials/header %>

<div class='row mybreadcrumb'>
        <div class='col-md-12'>
            <ol class="breadcrumb">
                  <li class='multilanguage burmese'><a href="/category/all/1/?sort=created&dir=desc"><%= __('Product')%></a></li>
              <% if (parent_category) { %>
                  <li class='multilanguage burmese'><a href="#"><%= __(parent_category)%></a></li>
              <% } %>
              
              <% if (category === 'all') { %>
                  <li class='multilanguage burmese'><a href="/category/all/1/?sort=created&dir=desc"><%= __('All Products')%></a></li>
              <% } else { %>
                  <li class='multilanguage burmese'><a href="/category/<%= category%>/1/?sort=created&dir=desc"><%= __(category)%></a></li>
              <% } %>
              
              <% if(currentLanguage === "mm") { %>
                  <li class="active multilanguage burmese"><%= product.name.mm%></a></li>
              <% } else { %>
                  <li class="active multilanguage burmese"><%= product.name.en%></a></li>
              <% } %>
              
            </ol>
            <hr>
        </div>
</div>


<!--Show Page width 1200px-->
<div class="showpage-container">
    <div class='row showpage-row'>
        <div class="col-md-6" id="show-page-picture">
               <!--Start of Carousel  -->
                <div class="mycontainer">
                <div id='carousel-custom' class='carousel slide' class="show-picture" data-ride='carousel'>
                    <div class='carousel-outer'>
                        <!-- me art lab slider -->
                        <div class='carousel-inner '>
                            <div class='item active'>
                                <img src='<%=product.image[0]%>' alt=''id="zoom_05"  data-zoom-image='<%=product.image[0]%>'/>
                            </div>
                            <% for (var i=1; i<product.image.length; i++) { %>
                                <div class='item'  id="zoom_05">
                                    <img src='<%=product.image[i]%>' alt='' data-zoom-image='<%=product.image[i]%>' />
                                </div>
                            <% } %>
                            <script>
                              $("#zoom_05").elevateZoom({ zoomType    : "inner", cursor: "crosshair" });
                            </script>
                        </div>
                            
                        <!-- sag sol -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>
                    
                    <!-- thumb -->
                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
                        <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='<%=product.image[0]%>' alt='' /></li>
                        <% for (var i=1; i<product.image.length; i++) { %>
                                <li data-target='#carousel-custom' data-slide-to='<%= i %>'><img src='<%=product.image[i]%>' alt='' /></li>
                        <% } %>
                        
                        <!--<li data-target='#carousel-custom' data-slide-to='2'><img src='<%=product.image[2]%>' alt='' /></li>-->
                        
                
                    </ol>
                </div>
                
                <script type="text/javascript">
                
                $(document).ready(function() {
                    $(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
                });
                </script>
                </div>
                <!--END of carousel    -->

        </div>

    
        <div class='col-md-6 show-page-info'>
            <div>
                    <div id='showpage-product-name'>
                        <% if(currentLanguage === "mm") { %>
                        <h3 class="multilanguage burmese"><%=  product.name.mm  %></h3>
                        <% } else { %>
                        <h3 class="multilanguage burmese"><%=  product.name.en  %></h3>
                        <% } %>
                    </div>
                    <div id='showpage-product-brand'>
                        <img src="/images/homepage/price-tag.svg" style="width:16px;height:16px"><span>Giordano</span>
                         
                    </div>
                    
                    <div class='showpage-admin-buttons'>
                        <% if(currentUser && currentUser.isAdmin) { %>
                            <form action='/product/<%=product.category.name%>/<%= product._id %>?_method=DELETE' method='POST'>
                                <a href='/product/<%=product.category.name%>/<%= product._id %>/edit'><button type='button' class='btn btn-warning'>Edit Product</button></a>
                                <button class='btn btn-danger'>Delete Product</button>
                            </form>
                        <% } %>
                    </div>
                    
                    <table>
                          <tr>
                            <td>
                              <input id="input-3" name="input-3" value="<%= product.rating%>" class="rating rating-loading" displayOnly="true" data-size="xs">
                            </td>
                          </tr>
                    </table>
                    <script>
                    // $(document).on('ready', function(){
                        $('#input-3').rating({displayOnly: true, step: 0.1});
                    // });
                    </script>

                    <br>
                    <div>
                        
                        <% if(parseFloat(product.price).toFixed(1) != parseFloat(product.discountPrice).toFixed(1)) { %>
                            <span id='showpage-unit-price'>Ks <%=  parseFloat(product.discountPrice).toLocaleString() %><span>
                            <span id='saving-percent'>(Save <%= (100 - (parseFloat(product.discountPrice).toFixed(1)*100/parseFloat(product.price).toFixed(1))).toFixed(1) %>%)</span>
                            <p id='showpage-unit-price-original'>Ks <%=  parseFloat(product.price).toLocaleString()  %></p>
                        <% } else { %>
                            <p id='showpage-unit-price'>Ks <%=  parseFloat(product.price).toLocaleString() %></p>
                        <% } %>
                    </div>

                    <div>
                        <p class='showpage-subheaders multilanguage burmese'><%= __('Quantity')%></p>
                    </div>
                    
                    
                    <form action='/cart/product/<%= product._id%>' method='POST'>
                        <div class='btn-group quantity-control' role='group' arial-label='...'>
                            <button id='minus' class='btn'>-</button>
                            <button id='total' class='btn'>1</button>
                            <button id='plus' class='btn'>+</button>
                            
                        </div>
                        
                        <div class='form-group'>
                            <input type='hidden' name='product_id' value='<%= product._id%>'>
                            <input type='hidden' name='quantity' id='quantity' value='1'>
                            <input type='hidden' name='originalPrice' id='originalPrice' value='<%= product.discountPrice%>'>
                            <input type='hidden' name='priceHidden' id='priceHidden' value='<%= product.discountPrice%>'>
                            
                        </div>
                        <div>
                            <h4 id='priceValue' class='pull-left multilanguage burmese'><%= __('Total Price')%> -  Ks <%= parseFloat(product.discountPrice).toFixed(0).toLocaleString() %></h4>
                        </div>
                        <div class='row sub-row'>
                            <div class='col-sm-4' id='size-container'>
                                <p class='showpage-subheaders multilanguage burmese'><%= __('Size')%></p>
                                <div class='btn-group quantity-control' role='group' arial-label='...'>
                                        <input type='hidden' name='selected_size' id='selected-size' value='M'>
                                        <button type='button' class='size-buttons active-size' class='btn'><%= product.sizes[0]%></button>
                                    <% for (var k=1; k<product.sizes.length; k++) { %>
                                        <button type='button' class='size-buttons' class='btn'><%= product.sizes[k]%></button>
                                    <% } %>
                                </div>
                            </div>
                            <div class='col-sm-4'>
                                <p class='showpage-subheaders multilanguage burmese'><%= __('Color')%></p>
                                <div class='btn-group quantity-control' role='group' arial-label='...'>
                                    <input type='hidden' name='selected_color_no' id='selected-color-no' value='0'>
                                    <button type='button' class='color-circle active-color' value='0' class='btn' style="background-color:<%= product.colors[0].hex_code%>;"></button>
                                    <% for(var n = 1; n<product.colors.length; n++) { %>
                                    <button type='button' class='color-circle' value='<%= n %>' style="background-color:<%= product.colors[n].hex_code%>;"></button>
                                    <% } %>
                                </div>
                            </div>
                        
                        </div>
                        

                        <div id='cart-and-wishlist'>
                            
                            <button type="button" class="btn btn-primary multilanguage burmese" id='add-to-wishlist-button' data-toggle="modal" data-target="#myModal">
                              <%= __('Add to Favourites')%>
                            </button>

                            <button type='submit' class='btn btn-primary multilanguage burmese' id='add-to-cart-button'><%= __('Add to Cart now')%></button>
                        </div>
                    </form>
                    
                    <!-- Modal -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title multilanguage burmese" id="myModalLabel_EditReview"><%= __('Add to Favourites')%></h4>
                                  </div>
                                  <div class="modal-body">
                                    <p class='multilanguage burmese'><%= __('add to favourite ?')%></p>
                                  </div>
                                  <div class="modal-footer">
                                    
                                     
                                   
                                    
                                        <form action='/product/<%=product.category.name%>/<%=product._id%>/add-wishlist' method="POST">
                                            <button type="button" class="modal-submit-button" data-dismiss="modal">Close</button>
                                            <button class='modal-submit-button multilanguage burmese'><%= __('Add to Favourites')%></button>
                                        </form>
                                    
                                    
                                  </div>
                                </div>
                              </div>
                            </div><!--End of Modal-->
                     
            </div>
        </div>
     
    </div>
    
    
    
    
    
   <!--Detail and Review Tab   -->  
    
    
    <div class="row detailAndReview">
    	<!--<div class="detailAndReview">-->
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active multilanguage burmese" id='tab-product-detail'><a href="#tab1default" data-toggle="tab"><%= __('Product Detail')%></a></li>
                            <li class='multilanguage burmese' id='tab-user-review'><a href="#tab2default" data-toggle="tab"><%= __('User Reviews')%></a></li>
                            
                        </ul>
                </div>
        <!--Detail Section-->
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <div id="details" class='multilanguage burmese'>
                				<% if(currentLanguage === "mm") { %>
                                    <p class='multilanguage burmese' class='product-description'><%-  product.descriptionMM  %></p>
                                <% } else { %>
                                    <p class='' class='product-description'><%-  product.descriptionEN  %></p>
                                <% } %>
                			</div>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <div class="rating-block">
            					<h4 class='multilanguage burmese'><%= __('Average User Rating')%></h4>
            					<h2 class="bold padding-bottom-7"><%= parseFloat(product.rating).toFixed(1)%> <small>/ 5</small></h2>
            					
            					<table>
                                      <tr>
                                        <td>
                                          <input id="input-averageRating" name="input-averageRating" value="<%= product.rating%>" class="rating rating-loading" displayOnly="true" data-size="s">
                                        </td>
                                      </tr>
                                </table>
                                <script>
                                // $(document).on('ready', function(){
                                    $('#input-averageRating').rating({displayOnly: true, step: 0.1});
                                // });
                                </script>
            					
            				</div>
            				<div>
            				    
            				    <p>(<%= product.comments.length %> Reviews)</p>
            				</div>
            <!--Comment Button Wrapper				-->
            				<div class="write-comment-button-wrapper">
                    			
                    				<div class='review-input'>
                                        <button class='multilanguage burmese' type="button" id='write-comment' data-toggle="modal" data-target="#new-comment-modal<%= i%>">
                                          <%= __('Write a Review')%>
                                        </button>
                                        
                                    
                                        <!-- New Comment Modal -->
                                        <div class="modal fade" id="new-comment-modal<%= i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                          <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title multilanguage burmese" id="myModalLabel_EditReview"><%= __('Write a Review')%></h4>
                                              </div>
                                              <div class="modal-body">
                                                <div class='inputForms edit-comment-form'>
                                                    <form class='form-group' action='/product/<%=product.category.name%>/<%= product._id %>/comments' method='POST'>
                                                            <input id="user-rating" name="comment[rating]" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" data-size="sm" data-show-clear="false">
                                                            <textarea class='form-control' name='comment[text]'></textarea>
                                                            <button class='modal-comment-submit-button multilanguage burmese'><%= __('Submit Review')%></button>
                                                    </form>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div><!--End of Modal-->
                    		</div>
            <!--Comment Box Wrapper        		-->
                    		<% for (var i=0; i< product.comments.length; i++) {   %>  
                    		<div class='comment-box-wrapper'>
            				    <div class="review-block">
                                        					
                							<div class="review-block-name"><h4><%= product.comments[i].author.username%></h4></div>
                						
                							<div class="review-block-rate">
                								<table>
                                                      <tr>
                                                        <td>
                                                          <input id="input-<%= 4+i%>" name="input-<%= 4+i%>" value="<%= product.comments[i].rating%>" class="rating rating-loading" displayOnly="true" data-size="xs">
                                                        </td>
                                                      </tr>
                                                </table>
                                                <script>
                                                // $(document).on('ready', function(){
                                                    $('#input-<%= 4+i%>').rating({displayOnly: true, step: 0.1});
                                                // });
                                                </script>
                							</div>
                							<div class="review-block-description"><%= product.comments[i].text%></div>
                							
            
                            <!--Edit and Delete Comment Form-->
                                            <form action='/product/<%=product.category.name%>/<%= product._id %>/comments/<%= product.comments[i]._id%>?_method=DELETE' method='POST'>
                                                <button type="button" class="edit-comment-button" id='edit-comment' data-toggle="modal" data-target="#edit-comment-modal<%= i%>">
                                                  Edit
                                                </button>
                                                <button class='delete-comment-button'>Delete</button>
                                            </form>
                                            
                            <!-- Edit Comment Modal -->
                                            <div class="modal fade" id="edit-comment-modal<%= i%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                              <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel_EditReview">Edit Review</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                    <div class='inputForms edit-comment-form'>
                                                        <form class='form-group' action='/product/<%=product.category.name%>/<%= product._id %>/comments/<%= product.comments[i]._id%>?_method=PUT' method='POST'>
                                                                <input id="user-rating" name="comment[rating]" class="rating rating-loading" data-min="0" data-max="5" data-step="0.1" data-size="sm" data-show-clear="false">
                                                                <textarea class='form-control' name='comment[text]'><%= product.comments[i].text%></textarea>
                                                                <button class='btn btn-primary btn-sm'>Update Reveiw</button>
                                                        </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div><!--End of Modal-->
                    					
                				</div><!--End of Review Block-->
        				    </div><!--End of Comment Box Wrapper-->
        				    <% } %>
                    		
                    		
                    		
                        </div>
                    </div>
                </div>
            </div>
        <!--</div>-->
        </div>
	</div>  <!--End ROW  -->
    

    
    
<!--=======================================================    -->
    <!--Related Items-->
<!--==========================================================-->
    <div class="row">
		<div class="col-md-12">
		        <div id='show-page-similar-item'>
		            <h3 class='multilanguage'><%= __('Similar Items You May Like')%></h3>
		        </div>
            <div id="RelatedCarousel" class="carousel slide">
                 
                <ol class="carousel-indicators">
                        <li data-target="#RelatedCarousel" data-slide-to="0" class="active"></li>
                    <% if (similarItems.length > 4) { %>
                        <li data-target="#RelatedCarousel" data-slide-to="1"></li>
                    <% } %>
                    <% if (similarItems.length > 8) { %>
                        <li data-target="#RelatedCarousel" data-slide-to="2"></li>
                    <% } %>
                </ol>
                 
                <!-- Carousel items -->
                <div class="carousel-inner">
                    
                    <% if(typeof similarItems !== "undefined") { %>
                        <div class="item active">
                        	<div class="row">
                        	  
                            	  <% for (var i=0; i<similarItems.length; i++) { %>
                                	  <% if(i<4 && similarItems[i]._id !== product._id) { %>
                                	  <div class="col-md-3 thumbnail-container">
                                	        <div href="#" class="thumbnail">
                                	            <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><img src='<%=similarItems[i].image[0]%>'></a>
                                                <div class='caption'>
                                                    <div class='product-name-container'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><h4 class="burmese product-name"><%=similarItems[i].name.en%></h4></a>
                                                    </div>
                                                    <p class='product-price'>Ks <%=similarItems[i].price.toLocaleString()%></p>
                                                    <div class="rating-stars">
                                                        <table>
                                                          <tr>
                                                            <td>
                                                              <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                            </td>
                                                          </tr>
                                                        </table>
                                                        <script>
                                                        // $(document).on('ready', function(){
                                                            $('.input-3').rating({displayOnly: true, step: 0.1});
                                                        // });
                                                        </script>
                                                        <br>
                                                    </div>
                                                
                                                    <div class='seemore-addtocart'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm see-more multilanguage'><%= __('See Detail') %></a>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart multilanguage'><%= __('Add to Cart') %></a>
                                                    </div>
                                                </div>
                                	        </div>
                                	  </div>
                                	  <% } %>
                            	  <% } %>
                        	 
                        	</div><!--.row-->
                        </div><!--.item-->
                     
                        <% if (similarItems.length > 4) { %>
                            <div class="item">
                            	<div class="row">
                            	    <% for (var i=4; i<similarItems.length; i++) { %>
                                	  <% if(i<8 && similarItems[i]._id !== product._id) { %>
                                	  <div class="col-md-3 thumbnail-container">
                                	        <div href="#" class="thumbnail">
                                	            <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><img src='<%=similarItems[i].image[0]%>'></a>
                                                <div class='caption'>
                                                    <div class='product-name-container'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>'><h4 class="burmese product-name"><%=similarItems[i].name.en%></h4></a>
                                                    </div>
                                                    <p class='product-price'>Ks <%=similarItems[i].price.toLocaleString()%></p>
                                                    <div class="rating-stars">
                                                        <table>
                                                          <tr>
                                                            <td>
                                                              <input id="input-3" name="input-3" value="3" class="rating rating-loading input-3" displayOnly="true" data-size="xs">
                                                            </td>
                                                          </tr>
                                                        </table>
                                                        <script>
                                                        // $(document).on('ready', function(){
                                                            $('.input-3').rating({displayOnly: true, step: 0.1});
                                                        // });
                                                        </script>
                                                        <br>
                                                    </div>
                                                
                                                    <div class='seemore-addtocart'>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm see-more'>See Detail</a>
                                                        <a href='/product/<%=similarItems[i].category.name%>/<%=similarItems[i]._id%>' class='btn btn-primary btn-sm add-to-cart'>Add to Cart</a>
                                                    </div>
                                                </div>
                                	        </div>
                                	  </div>
                                	  <% } %>
                            	  <% } %>
                            	</div><!--.row-->
                            </div><!--.item-->
                        <% } %>

                    <% } %> 
                     
                </div><!--.carousel-inner-->
                      <a data-slide="prev" href="#RelatedCarousel" class="left carousel-control related">‹</a>
                      <a data-slide="next" href="#RelatedCarousel" class="right carousel-control related">›</a>
            </div><!--.Carousel-->
                 
		</div>
	</div><!--.End Row Related-Items-->

</div><!-- End showpage-container-->
    


<script>
    $(document).ready(function() {
    $('#RelatedCarousel').mcarousel({
        interval: 5000
    })
});
</script>


<% include ../partials/footer %>